@media all and (max-width: 800px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rod\/public_html\/sites\/all\/themes\/living_green_2\/sass\/living-green-2\.hacks\.scss}line{font-family:\000033}}
  #toolbar, #admin-menu {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rod\/public_html\/sites\/all\/themes\/living_green_2\/sass\/living-green-2\.hacks\.scss}line{font-family:\000038}}
  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rod\/public_html\/sites\/all\/themes\/living_green_2\/sass\/living-green-2\.hacks\.scss}line{font-family:\0000315}}
.bx-viewport {
  min-height: 35px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/rod\/public_html\/sites\/all\/themes\/living_green_2\/sass\/living-green-2\.hacks\.scss}line{font-family:\0000321}}
#location_switcher .bx-caption {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: #fff;
  width: 300px;
  margin-top: -35px; }
